Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.*
config/*
configure
src/.deps/
src/Makefile
src/Makefile.in
src/fakeproject
src/fakeproject.o
stamp-h1
test/.deps/
test/Makefile
test/Makefile.in
test/test-suite.log
test/testfakeprojectprogram
test/testfakeprojectprogram.log
test/testfakeprojectprogram.o
test/testfakeprojectprogram.trs
